@import 'variables';
.contact-container{
    @include pages;
}

.contact-content{
    width: 78vw;
    height: 60vh;
    margin: 5% auto;
    display: flex;
    .cinfo{
        width: 50%;
        height: 100%;
        padding-left: 3%;
        h4{
            
            color: white;
            width: 70%;
            font-size: 40px;
            font-weight: 600;
            span{
                color: $primary;
            }
        }
        p{
            width: 80%;
            color: rgb(226, 226, 226);
            font-size: 18px;
            margin-top: -5%;
           
        }
        .social-icons-container{
            width: 150px;
            height: fit-content;
            margin-top: 15%;
            .icons{
                padding: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icons-item{
                    width: 35px;
                    height: 35px;
                    cursor: pointer;    
                }
                #second-item{
                    margin-top: 5%;
                }
            }
            
        }
    }
    .contact-form{
        width: 40%;
        height: 100%;
    }
}

@media screen and (max-width: 767px){
    .contact-container{
        width: 100%;
        height: 120vh;
        #first{
            letter-spacing: 8px;
        }
        #second{
            letter-spacing: 0;
        }
        .contact-content{
            display: flex;
            flex-direction: column;
            margin: 2% 8%;
            width: 100%;
            .cinfo{
                margin: 5% auto;
                width: fit-content;
                height: fit-content;
                h4{
                    width: 85%;
                    font-size: 7vw;
                    text-align: center;
                }
                p{
                    font-size: 4vw;
                    text-align: center;
                    
                }
                .social-icons-container{
                    margin: 0 25%;
                    .icons{
                        .icons-item{
                            width: 6vw;
                            height: 4vh;
                        }
                    }
                }
            }
        }
        .contact-form{
            width: 90vw;
            margin: 0 2%;
        }
    }
   

}
