@import 'navbar';
@import 'headings';
@import 'contact';
@import 'about';
@import 'home';
@import 'form';
@import 'portfolio';



::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FFA400; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(70, 70, 70); 
  }
  @media (max-width: 768px) {
    .scrollable-container {
      overflow: hidden;
    }
  }
  
  
  
  
  
  
  