@import 'navbar';
@import 'headings';
@import 'contact';
@import 'about';
@import 'home';
@import 'form';
@import 'portfolio';


/* Customize the scrollbar width and color */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #FFA400; /* Color of the thumb (the draggable part) */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(70, 70, 70); /* Color of the track (the background) */
  }
  